.hero-teach-tools {
    display: flex;
    gap: 10px;
}

.hero-teach-tools div {
    cursor: pointer;
    display: grid;
    align-items: center;
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 5px 1rem;
    color: var(--text-color);
}


.about-teach-tools {
    display: flex;
    gap: 10px;
}

.about-teach-tools div {
    cursor: pointer;
    display: grid;
    align-items: center;
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 5px 1rem;
    color: var(--text-color);
}