.navbar {
    position: sticky;
    top: 0%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    backdrop-filter: blur(12px);
    gap: 3em;
    padding-top: max(1rem, env(safe-area-inset-top));
}

.brand{
    font-family: var(--font-secondary);
    font-weight: var(--fw-bold);
    font-size: 2rem;
    color: var(--primary-color);
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    transition: all;
    
}
.brand:hover{
    color: var(--text-color);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    align-items: center;
}

.nav-links a {
    color: #d1d5db;
    transition: color 0.2s ease;
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-main);
    cursor: pointer;
}

.nav-links a:hover,
nav-links:active {
    font-weight: 600;
    color: var(--primary-color);
}

.copy-right hr{
    size: 1px;
    font-weight: 1px;
}
.copy-right{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
    padding: 20px;
}